.questItem {
    color: #009883;
  background-color: #B0E4DD;
  border-radius: 16px;
}

.fontTitle {
    font-size: 24;
    font-weight: bold;
}

.fontDes {
    font-size: 18;
}

.layoutImage {
    align-items: flex-start !important;
    align-content: flex-start;
    display: flex;
}

.listItem {
    padding-bottom: 10px;
    display: flex !important;
}

.price {
    justify-content: space-between;
}