.container:hover {
  transition: all ease-in-out 150ms;
  box-shadow: #009883 0px 0px 0px 3px;
}

.container {
  width: 180px;
  height: 256px;
}

.avatarItem:hover {
  box-shadow: #009883 0px 0px 0px 3px;
}

@media (max-width: 768px) {
  .container {
    width: 124px;
    height: 256px;
  }

  .container image {
    width: 64px;
  }
}
