.util {
  height: fit-content;
  top: 48px;
}

.btnFloating {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 8px 12px;
  border-radius: 50%;
  color: white;
}

@media (min-width: 992px) {
  .util {
    position: sticky;
  }
}

.accordionHeader .accordion-button {
  color: #ffffff;
  background-color: #29008a !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}