.util {
  height: fit-content;
  top: 48px;
}

.table {
  margin: auto auto;
}

.btnFloating {
  position: fixed;
  bottom: 24px;
  right: 24px;
  padding: 8px 12px;
  border-radius: 50%;
  color: white;
}

@media (min-width: 992px) {
  .util {
    position: sticky;
  }
}



.accordionItem {
  border-radius: 9px !important;
}

.accordionButton[aria-expanded='false'] {
  border-radius: 8px !important;
}

.accordionButton[aria-expanded='true'] {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
