/* 
* this file contains extra styles for borders
* example: border-radius, border,...
*/

.rounded-6px {
  border-radius: 6px;
}

.rounded-8px {
  border-radius: 8px;
}

.rounded-10px {
  border-radius: 10px;
}

.rounded-14px {
  border-radius: 14px;
}

.rounded-20px {
  border-radius: 20px;
}
