.cursor-pointer {
  cursor: pointer;
}

.transition-all-150ms {
  transition: all 150ms ease;
}

.outline-none {
  outline: none;
}

#avatar .dropdown-toggle::after {
  border: none;
  display: inline-block;
  margin-left: 0px;
  vertical-align: 0px;
  content: '';
}

#itemQuestion .accordion-button::after {
  content: none;
}

#itemQuestion .accordion-button {
  box-shadow: none;
  background-color: #f2f2f2;
  color: black;
  padding: 12px;
  height: 56px;
}
#itemQuestion .collapsed {
  border-bottom: 1px solid #dee2e6;
}

#itemQuestion .accordion-item:last-of-type {
  border-bottom-left-radius: calc(0.75rem - 1px);
  border-bottom-right-radius: calc(0.75rem - 1px);
}

#itemQuestion .accordion-item:first-of-type {
  border-top-left-radius: calc(0.75rem - 1px);
  border-top-right-radius: calc(0.75rem - 1px);
}
