/* 
* this file contains extra styles for text
* example: font-size, font-weight,...
*/

.fs-14px {
  font-size: 14px;
}

.fs-16px {
  font-size: 16px;
}

.fs-18px {
  font-size: 18px;
}

.fs-20px {
  font-size: 20px;
}

.fs-22px {
  font-size: 22px;
}

.fs-24px {
  font-size: 24px;
}

.fs-32px {
  font-size: 32px;
}

.fs-48px {
  font-size: 48px;
}

.fw-medium {
  font-weight: 500;
}

.fw-semiBold {
  font-weight: 600;
}
