.answer {
    font-size: 24px;
    border-radius: 6px;
}

.word {
    padding: 4px 8px 4px 8px;
    white-space: pre;
}

.selected {

}

.selection {

}

@media (max-width: 576px) {
    .word {
        padding: 0px 4px 0px 4px;
    }
}

.playerList {
    gap: 8px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}


@media (max-width: 576px) {
    .answer {
        font-size: 20px;
    }

    .playerList {
        gap: 2px;
    }
}
