.dropdown::after {
  display: none !important;
}
.dropdown {
  border-end-end-radius: 14px;
  border-top-right-radius: 14px;
  height: 56px !important;
}
.dropdown:hover {
  color: gray;
}

.dropdown:focus {
  box-shadow: none !important;
}

.firstCell {
  max-width: 16rem;
  text-overflow: unset;
}

.table {
  margin: auto auto;
  max-width: 100%;
}

.cell {
  vertical-align: middle;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.borderRadiusSm {
  border-end-end-radius: 14px;
  border-top-right-radius: 14px;
}

@media (min-width: 992px) {
  .firstCell {
    min-width: 16rem;
  }
  .table {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .firstCell {
    min-width: 12rem;
  }
  .table {
    width: 90%;
  }
  .borderRadiusSm {
    border-radius:  0;
  }
}
