@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/** * VARIABLES **/
/* * {
    box-sizing: border-box;
} */

/* body {
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #eee;
} */

/** * Title **/
.title {
  text-align: center;
  transform: translateY(20px);
  font-size: 45px;
  color: coral;
  text-transform: uppercase;
}

/** * CARD **/
.card {
  /* position: absolute; */
  border-radius: 2rem;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) translateZ(0); */
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/** * DATE **/
.card__date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  background-color: coral;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  line-height: 13px;
}

.card__date__day {
  font-size: 14px;
}

.card__date__month {
  text-transform: uppercase;
  font-size: 10px;
}

/** * THUMB **/
.card__thumb {
  height: 245px;
  overflow: hidden;
  background-color: white;
  transition: height 0.5s;
}

.card__thumb img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
}

.card:hover .card__thumb {
  height: 130px;
}

.card:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.2);
}

/** * BODY **/
.card__body {
  position: relative;
  height: 185px;
  padding: 20px;
  transition: height 0.5s;
}

.card:hover .card__body {
  height: 300px;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #009883;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: coral;
}

.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  /* bottom: 56px; */
  margin: 0;
  padding: 0;
  color: #666c74;
  line-height: 27px;
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0s;
}

.card:hover .card__description {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.card__footer {
  position: absolute;
  bottom: 12px;
  left: 20px;
  right: 20px;
  font-size: 11px;
  color: #a3a9a2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}

.icon + .icon {
  padding-left: 10px;
}

.price {
  padding-left: 10px;
  color: #d7ce1f;
}

.btnBuy {
  /* left: 50%;
    transform: translate(-50%, 0); */
  height: 2rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  border-radius: 20px;
  color: #009883;
  font-weight: bold;
  background-color: white;
  border-color: none;
}

.btnBuy:hover {
  color: white;
}
