@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.card {
  /* position: absolute; */
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/** * THUMB **/
.card__thumb {
  height: 10rem;
  overflow: hidden;
  background-color: white;
  transition: height 0.5s;
}

.card__thumb img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.5s;
  text-align: center;
  margin: auto auto;
}

.card:hover .card__thumb {
  height: 4rem;
}

.card:hover .card__thumb img {
  opacity: 0.6;
  transform: scale(1.4);
  height: 100%;
  width: 100%;
}

/** * BODY **/
.card__body {
  position: relative;
  height: 10rem;
  padding: 16px;
  transition: height 0.5s;
}

.card:hover .card__body {
  height: 16rem;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: #009883;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
}

.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  /* font-size: 22px; */
  font-weight: bold;
  text-transform: uppercase;
}

.card__subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 0 10px 0;
  /* font-size: 19px; */
  color: coral;
}

.card__description {
  position: absolute;
  left: 20px;
  right: 20px;
  /* bottom: 56px; */
  margin: 0;
  padding: 0;
  color: #666c74;
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.3s, transform 0.3s;
  transition-delay: 0s;
}

.card:hover .card__description {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}

.card__footer {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  color: #a3a9a2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 0 0 2px;
  font-size: 18px;
}

.price {
  padding-left: 8px;
  color: #d7ce1f;
}

.btnBuy {
  /* left: 50%;
    transform: translate(-50%, 0); */
  height: 2rem;
  text-align: center;
  padding: 0 2rem 0 2rem;
  border-radius: 20px;
  color: #009883;
  font-weight: bold;
  background-color: white;
  border-color: none;
  font-size: 1rem;
}

.btnBuy:hover {
  color: white;
}
@media (min-width: 1400px) {
  .card__thumb img {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .card__title {
    font-size: 100%;
  }
  .btnBuy {
    font-size: 0.9rem;
  }

  .card__subtitle img {
    width: 16px;
    height: 16px;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .card__thumb img {
    width: 90%;
  }
}

.imageTypeRare {
  color: blueviolet;
}

.imageTypeNormal {
  color: black;
}

.imageTypeEpic {
  color: orange;
}

.imageTypeLegendary {
  color: red;
}
