.gameBackground {
  min-height: 100vh;
  background: #f2f2f2;
  padding-top: 16px;
}
.nextButton {
  width: fit-content;
  align-self: flex-end;
}
.answerBoard {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  height: 300px;
}

.gameView {
  position: relative;
  padding-top: 8px;
  height: 80vh;
}

.gameCol {
  width: 100%;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hiddenNav {
    display: none;
    visibility: hidden;
  }

  .emojiBar {
    display: none;
    visibility: hidden;
  }
  .gameBackground {
    height: 100vh;
    padding-top: 0px;
    overflow: hidden;
  }
  .gameView {
    padding-top: 0px;
  }
  .chatView {
    display: none;
  }

  .playerList {
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* màn bự mới có 2 cái padding 2 bên cho đều */
  .gameBackground {
    padding-left: 64px;
    padding-right: 64px;
  }
}
