.layoutImage {
  padding-top: 16px;
  padding-bottom: 32px;
  display: flex;
  justify-content: center;
}

.closeButtonStyle {
  align-self: flex-end;
  height: 24px;
  width: 24px;
}

.progress {
  height: 7px;
  margin-left: 5%;
  margin-right: 5%;
}

.badgeTitle {
  font-weight: bold;
  text-align: center;
}

.badgeDes {
  padding-top: 0.5rem;
  text-align: center;
  color: darkgrey;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 40px;
}

.badgeCount {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;
}
