
.selectionItem {
    padding: 5px;
}

.playerList {
    flex-grow: 1;
    /*height: 50%;*/
}

.playerListFullScreen {
    flex-grow: 1;
}

.answerInput {
    font-weight: bold;
    font-size: 48px;
    caret-color: white;
    border: 10px dashed white;
}

@media (max-width: 992px) {
    .answerInput {
        font-weight: bold;
        font-size: 24px;
    }
}

.selectionBox {
    height: 40%;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

@media (max-width: 576px) {
    .selectionBox {
        height: 40%;
        border-radius: 0;
        padding: 0 10px 0 10px;
    }

    .selectionItem {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}

/*.selectionBox:hover {*/
/*    cursor: pointer;*/
/*}*/

.selectionTextHuge {
    font-size: 18px;
}

.selectionTextSmall {
    font-size: 11px;
}

.selectedBox {
    /* box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.475) !important; */
    cursor: pointer;
    border-width: 2px;
    /* border-style: inset; */
    border-color: rgb(251, 255, 0);
}
