.moreButton {
  border-radius: 50vh;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
}

.moreTitle {
  white-space: nowrap;
  align-self: center;
  padding-left: 20;
}

.moreButtonIcon {
  height: 32px;
  width: 32px;
  padding-right: 16;
  align-items: center;
}
